body{
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar ul{
    list-style: none;
    background: #663366
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    color: #ffffff
    width: 100px;
    display: block;
}